src/
node_modules/
.git/
.github/
*.log
.env*
.nyc_output/
coverage/
.eslintrc*
.prettierrc*
tsconfig*.json
*.tsbuildinfo
.vscode/
.idea/
*.tgz
*.tar.gz

# Ignore node_modules in all templates
templates/**/node_modules
templates/**/node_modules/**

# Lockfiles inside templates
templates/**/package-lock.json
templates/**/pnpm-lock.yaml

# Built files inside templates
templates/**/dist